spring-debug/src/main/resources/META-INF/user.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.karson.com/schema/user"
			xmlns:tns="http://www.karson.com/schema/user"
			elementFormDefault="qualified"
			attributeFormDefault="unqualified">
	<element name="user">
		<complexType>
			<attribute name ="id" type = "string"/>
			<attribute name ="userName" type = "string"/>
			<attribute name ="email" type = "string"/>
			<attribute name ="password" type = "string"/>
		</complexType>
	</element>

</schema>
